/* start navber section */
header{
    width: 100%;
    height: 70px;
    border: 1px solid gray;
}
.my-name{
    margin-left: 10px;
    background-color: crimson;
    width: 120px;
    height: 40px;
    color: white;
    margin-top: 15px;

}
.navber ul{
    display: flex;
    list-style: none;
    margin-left: 1200px;
    margin-top: -52px;

}
.navber ul li a{
    text-decoration: none;
    /* border: 1px solid; */
    /* display: flex; */
    margin-left: 30px;

}
/* end navber section */
/* start main section my data */
.my-data{
    margin-top: 70px;
    margin-left: 40px;
}
.my-data .hi{
    font-weight: bold;
    
}
.my-description{
    font-weight: bold;
    font-style: italic;
    margin-top: -15px;
}
.data-image{
    border: 2px solid gray;
    margin-left: 1200px;
    margin-top: -100px;
    border-radius: 15px;
    box-shadow: 0 15px 20px ;
    
}
/* end main section my data */
/* start project button */
.project-button{
    margin-left: 650px;

}
.project-button ul li a{
    border: 2px solid;
    list-style: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color: black;
    color: white;
}
.project-button ul{
    list-style: none;
    display: flex;
    margin-top: ;
}
.project-button ul li{
    padding: 25px;
    
}
/* end project button */
/* start product card section */
.product-card{
    border: 1px solid white;
    width: 200px;
    height: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}